<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blind Search Game</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Blind Search Game</h1>
    <canvas id="game-canvas" width="500" height="500"></canvas>
    <div id="game-status"></div>
    <div id="current-player-status"></div>
    <div id="angle-inputs">
        <div class="angle-input" id="angle-input-0">
            <label for="angle-0" style="color: red;">Player 1 Angle (degrees):</label>
            <input type="number" id="angle-0" name="angle-0" min="0" max="360">
        </div>
        <div class="angle-input" id="angle-input-1">
            <label for="angle-1" style="color: green;">Player 2 Angle (degrees):</label>
            <input type="number" id="angle-1" name="angle-1" min="0" max="360">
        </div>
        <div class="angle-input" id="angle-input-2">
            <label for="angle-2" style="color: blue;">Player 3 Angle (degrees):</label>
            <input type="number" id="angle-2" name="angle-2" min="0" max="360">
        </div>
    </div>
    <form id="move-form">
        <input type="hidden" id="playerId" name="playerId">
        <button type="submit">Move</button>
    </form>
    <button id="show-reward-btn">Show Reward</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>